<h3>This is the Firstviewcomponent</h3>


<button (click)="toggleProcedureLists()"> {{showProcedureLists ? "Hide Trauma Procedures" : "Show Trauma Procedures"}}</button>
<div *ngIf="showProcedureLists">
    <h4>List of Procedures</h4>
    <ul>
        <li *ngFor="let procedureList of procedureLists; let i = index"> {{ procedureList }} <button (click)="deleteProcedure()">DELETE</button> </li>
    </ul>

    <form>
         <!--<form (submit)="addProcedure(procedureList.value)">-->
        <label> Add Procedure </label>
        <input type="text" #procedureList/>
        <button (click)="addProcedure(procedureList.value)">Add</button>
    </form>
    <h4>Details of Procedures</h4>
    <ul>
        <li>{{ procedureObject.title }}</li>
        <li>{{ procedureObject.category}}</li>
        <li>{{ procedureObject.description}}</li>
        <li>{{ procedureObject.id}}</li>
        <li>{{ procedureObject.date}}</li>
    </ul>
</div>